[Unit]
Description=The Forgotten Server
After=network.target mysql.service

[Service]
Type=simple
ExecStart=/home/pxm/sv/build/tfs
WorkingDirectory=/home/pxm/sv
Restart=always

[Install]
WantedBy=default.target
